{%extends "glavnaya/veterinaria.html" %}
{% load i18n %}

{% block content %}

<article>
    {% if LANGUAGE_CODE == 'kg'  %}
    <div class="headline"><h3>  {{ vet_item.title_kg}} </h3></div>
    <hr>
    <div class="paragraph"><p>{{vet_item.text_kg|safe|linebreaks}}</p><br></div>
    {% else %}
    <div class="headline"><h3>  {{ vet_item.title}} </h3></div>
    <hr>
    <div class="paragraph"><p>{{vet_item.text|safe|linebreaks}}</p><br></div>
    {% endif %}
</article>
{% endblock %}