{%extends "glavnaya/index.html" %}
{% load i18n %}

{% block aside %}
<div class="col-md-2"></div>
<div class="col-md-8">
    {% for item in vet_list %}
    <div class="item">
        <a href="{% url 'vet_item' item.id %}" class="box small-box">
            {% if LANGUAGE_CODE == 'kg'  %}
            <div class="inner-caption"><h5 class="middle text-center">{{ item.title_kg }}</h5></div>
            {% else %}
            <div class="inner-caption"><h5 class="middle text-center">{{ item.title }}</h5></div>
            {% endif %}
        </a>
    </div>
    {% endfor %}
    {% for item in silka_list %}
    <div class="item">
        <a href="{{  item.url  }}" {% if item.new_tab %} target="_blank" {% endif %}  class="box small-box">
            {% if LANGUAGE_CODE == 'kg'  %}
            <div class="inner-caption"><h5 class="middle text-center">{{  item.title_kg }}</h5></div>
            {% else %}
            <div class="inner-caption"><h5 class="middle text-center">{{  item.title }}</h5></div>
            {% endif %}
        </a>
    </div>
    {% endfor %}
    <div class="item">
        <a href="{% url 'videos' %}" class="box small-box">
            <div class="inner-caption"><h5 class="middle text-center">{% trans "Видео"  %}</h5></div>
        </a>
    </div>
</div>
{% endblock %}